
html {
    background-color: rgb(0,51,102);
}

body {
    text-rendering: optimizeLegibility;
    border-bottom: 10px solid rgb(0,51,102);
    border-left: 10px solid rgb(0,51,102);
    margin: 0px;
}

article {
    background-color: white;
    padding: 16px !important;
}

header, #menu-div1, nav {
    background-color: rgb(224,224,224) !important;
}

nav {
    padding: 16px;
}

h1 {
    font-size: 2em;
}

h1, h2, h3 {
    font-family: Georgia, Times, "Times New Roman", serif !important;
    color: rgb(0,51,102);
}

p, div {
    font-family: Georgia, Times, "Times New Roman", serif !important;
    font-size: 16px !important;
    line-height: 1.8 !important;
}

article a {
    background-color: rgb(229,240,251) !important;
    text-decoration: none;
    color: black;
}

nav li.pure-menu-selected a {
    color: rgb(0,51,102) !important;
}

article a:hover {
    background-color: rgb(213,227,240) !important;
    text-decoration: underline;
}

.top-menu {
    border-left: 10px solid rgb(0,51,102);
    width: calc(100% - 10px) !important;
    height: fit-content;
    position: absolute;
    left: 0;
    top: 0;
}

.index-img-div {
    padding: 0 19px 9px 19px;
    max-width: 600px !important;
    float: right;
}

@media only screen and (max-width: 48em) {
    .index-img-div {
        max-width: 500px !important;
        float: none;
        padding: 0;
    }
}
